{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
{% endblock %}


{% block content %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<div class="page-header d-flex justify-content-md-center mt-5 mb-3">
    <h3 class="text-center mt-3 underline">Shopping Bag</h3>
</div>
<div class="line-break"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {% if bag_items %}
            <div class="table-responsive rounded ">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Product Info</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}
                    <tr>
                        <td class="p-3 w-25">
                            <img class="w-100 img-fluid-rounded" src="{{ item.style.style_image.url }}" alt="">
                        </td>
                        <td class="py-3">
                            <p class="my-0">{{ item.style.style_name}}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">${{ item.style.style_price }}</p>
                        </td>
                        <td class="py-3">
                            <form class="form update-form" method="POST"
                                action="{% url 'remove_from_bag' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm btn-black rounded-0"
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span>
                                                    <i id="delete" data-item-id="remove_{{ item.item_id }}"
                                                        class="far fa-trash-alt"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td class="py-3">
                            <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                        </td>
                    </tr>
                    <div id="result"></div>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <a href="{% url 'styles' %}" class="btn btn-outline-black rounded-0 btn-lg mb-2">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg mb-2">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>

                </table>
            </div>
            {% else %}
            <p>Your bag is empty.</p>
            <ul class="list-unstyled">
                <li>
                    <a href="{% url 'styles' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Browsing Styles</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'services' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Check Out Services</span>
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
<script type="text/javascript">
    // Remove item and reload on click
    function removeItem() {
        $('.remove-item').click(function (e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/bag/remove/${itemId}/`;
            var data = {
                'csrfmiddlewaretoken': csrfToken,
            };

            $.post(url, data)
                .done(function () {
                    location.reload();
                });

        })
    }
</script>
{% endblock %}