{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<div class="page-header d-flex justify-content-md-center mt-5">
    <h3 class="text-center mt-3 underline">Portfolio</h3>
</div>

<div class="container-fluid">
    <div class="row">
            <section id="gallery">
                <img src="{{ MEDIA_URL }}}colorful-image-of-girl.jpg" alt="colorful image of a girl">
                <img src="{{ MEDIA_URL }}}crackling-photo-of-skater.jpg" alt="Photo of guy who skates">
                <img src="{{ MEDIA_URL }}}green-tinted-image-of-car.jpg" alt="Green tinted image of a car">
                <img src="{{ MEDIA_URL }}}black-and-white-image-of-girl.jpg" alt="Black and white image of girl">
                <img src="{{ MEDIA_URL }}}colorful-beach-image-hammock.jpg" alt="colorful beach image hammock">
                <img src="{{ MEDIA_URL }}}watercolor-textures-three-types.jpg" alt="watercolor textures three types">
                <img src="{{ MEDIA_URL }}}yellow-grain-effect-statue.jpg" alt="yellow grain effect">
                <img src="{{ MEDIA_URL }}}purple-image-of-girl-smiling.jpg" alt="Purple image of girl smiling">
                <img src="{{ MEDIA_URL }}}yellow-cracked-photo-of-girl.jpg" alt="Yellow cracked photo of a girl">
            </section>
            <div>
                <h4 class="my-5">
                    <a class="shop-now-button btn btn-md rounded-0 text-uppercase py-2" href="{% url 'styles' %}">SHOP
                        NOW</a>
                </h4>
            </div>
        </div>
</div>


{% endblock %}