i.red{
    color:#BC0213;
}
.gal-container{
    padding-top :75px;
    padding-bottom:75px;
}

.underline {
    width: 150px;
    border-bottom: 1px solid black;
}

/* img gallery */

#gallery {
    margin-top: 20px;
    border-top: 1px solid black;
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
    position: relative;
}

#gallery > img {
    width: 100%;
}

/* mobile image carousel */
/* 
{{ MEDIA_URL }}black-and-white-image-of-girl.jpg
{{ MEDIA_URL }}colorful-image-of-girl.jpg
{{ MEDIA_URL }}crackling-photo-of-skater.jpg
{{ MEDIA_URL }}green-tinted-image-of-car.jpg
{{ MEDIA_URL }}colorful-beach-image-hammock.jpg
{{ MEDIA_URL }}yellow-grain-effect-statue.jpg
{{ MEDIA_URL }}purple-image-of-girl-smiling.jpg
{{ MEDIA_URL }}yellow-cracked-photo-of-girl.jpg 

*/
.image-1 {
    background: url('/media/black-and-white-image-of-girl.jpg') no-repeat center center;
    background-size: cover;
    background-size: cover;
    height: calc(100vh - 164px);
}


/* Shop now button */
.shop-now-button {
    background: black;
    color: white;
    width: 100px;
    position: absolute;
    top: 60.2%;
    left: 46%;
    padding: 0;
}

@media (max-width: 600px) {
    .shop-now-button {
        position: relative;
        padding: 0;
    }
}
