/* Footer Style */
i.red{
    color:#BC0213;
}
.gal-container{
    padding-top :75px;
    padding-bottom:75px;
}

.page-header {
    justify-content: center;
}

.underline {
    width: 150px;
    border-bottom: 1px solid black;
}

/* img gallery */

#gallery {
    margin-top: 20px;
    border-top: 1px solid black;
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
}

#gallery > img {
    width: 100%;
}

/* Shop now button */
.shop-now-button {
    background: black;
    color: white;
    width: 100px;
    position: absolute;
    top: 60.2%;
    left: 46%;
    padding: 0;
}

@media (max-width: 600px) {
    .shop-now-button {
        position: relative;
        padding: 0;
    }
}

@media (max-width: 450px) {
    img {
        background-size: 150%;
    }
}
