{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<div class="page-header d-flex justify-content-md-center mt-5">
    <h3 class="text-center mt-3 underline">My Profile</h3>
</div>
<br>
<div class="line-break"></div>
<div class="container">
<div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-6 col-left me-2">
        <p class="text-muted">Profile Phone Number and Country</p>
        <form action="{% url 'profile' %}" id="profile-update-form">
            {% csrf_token%}
            {{ form | crispy }}
            <button class="btn btn-black rounded-0 text-uppercase mt-2 float-end" type="submit">Update</button>
        </form>
    </div>
    <div class="col-12 col-lg-6 col-right">
        <p class="text-muted">Order History</p>
    </div>
</div>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}