
/* General rules */
html {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  height: 100%;
}

.row {
  margin: 0;
  padding: 0;
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}


/* cross page */


/* navbar */

.offcanvas {
  background-color:#E9D3D3;
}

.btn-black {
  background: black;
  color: white;
}

.page-header {
  justify-content: center;
  margin-top: 80px !important;
}

.underline {
    width: 150px;
    border-bottom: 1px solid black;
}

.line-break {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}


.btn-outline-black {
  background: white;
  color: black !important;
  border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
  background: black;
  color: white !important;
}

.submit {
  background-color: #000;
  color: #fff;
  font-size: .75rem;
}

.color-container {
  background-color: #F5E9E4;
  border: 1px solid black;
}


/* 404 PAGE */
.custom-404-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E9D3D3;
}

.inner-404-container {
  background-color: #EEEFB4;
  padding: 40px;
}


/* Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

/* Navbar */

.dropdown-menu[data-bs-popper] {
  top: 72px;
  left: -80px !important;
  margin-top: 0.125rem;
  border-radius: 0 !important;
  background-color: #e9d3d3;
  border: 1px solid #000 !important;
}

#baseHeader > div.row.bottom-row > nav > div.wrapper.d-flex.justify-content-end > ul > li:nth-child(1) > div {
  left: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  top: 100px;
}

.search-dropdown {
  background-color: #e9d3d3;
  border: 0 !important;
  border-bottom: 1px solid #000 !important;
  padding-left: 10px;
  padding-right: 10px;
}

.desktop-search:focus {
  background-color: #fff !important;
}

.navbar-toggler {
  outline: 0;
  border: 0;
}

body>header>div.row.bottom-row>nav {
  background-color: #000;
  height: 30px;
}

#main-nav a {
  color: #fff !important;
  margin-bottom: 10px;
  transition: 0.6s;
}

#main-nav a:hover {
  text-decoration: underline;
}

.navbar {
  background-color: #E9D3D3;
  border-bottom: 1px solid black;
}

.main-navbar {
  background-color: #E9D3D3;
}

#topnav {
  height: 70px;
  background-color: #E9D3D3;
}

.navbar li {
  margin-top: 15px;
}


#main-logo {
  height: 40px;
  width: 290px;
  padding: 10px;
  background-color: #EEEFB4;
}

/* Messages */
.message-container {
  position: fixed;
  top: 30px;
  right: 5px;
  z-index: 99999999;
  background-color: #E9D3D3 !important;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/* Allauth form formatting */
.allauth-form-inner-content {
  border: 1px solid black;
  background-color: #F5E9E4 !important;
  padding: 30px;
  text-align: center;
}


.allauth-form-inner-content p {
  margin-top: 1.5rem;
  /* mt-4 */
  color: #6c757d;
  /* text-secondary */
}

.allauth-form-inner-content input {
  border-color: #000;
  border-radius: 0;
  margin-bottom: 10px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
  /* btn */
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
  border: 1px solid black;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;

  /* standard bootstrap btn transition */
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type="submit"]:hover {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.allauth-form-inner-content a {
  color: #17a2b8;
  /* text-info */
}

/* Product Form */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}

/* Forms */

/* Service form */

/* #add-service-form,
#edit-service-form,
#service-form {
    display: none;
} */

.color-form label {
  display: none;
}

.color-form input {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #000;
  color: #000;
  background-color: #F5E9E4;
}

.form-group {
  padding-top: 10px;
}

.color-form textarea {
  background-color: #F5E9E4;
  border: 1px solid #000;
  border-radius: 0;
}

.color-form textarea:focus {
  border: 1px solid #000;
}

.color-form input[type="file"] {
  border: 0 !important;
  width: 100%;
}

.color-form input::file-selector-button {
  border: 0;
  background-color: #000 !important;
  color: #fff;
  font-size: .7rem;
  padding: 7px;
}

.color-form input:focus {
  outline: 0;
  border: 0;
  border-bottom: 1px solid #000;
  box-shadow: none !important;
  background-color: #F5E9E4 !important;
}

.form-control:focus {
  box-shadow: none !important;
  border: 0;
}


/* Footer */
#main-footer {
  background-color: rgba(238, 239, 180, .5);
  border-top: 1px solid black;
}

#mc-embedded-subscribe-form {
  background-color: rgba(238, 239, 180, .5);
}

#mc-embedded-subscribe {
  background-color: #000 !important;
  color: #fff;
  margin-top: 0 !important;
  width: 80px !important;
}

.mc-field-group {
  margin-bottom: 0;
}

input#mce-EMAIL.required.email {
  outline: none;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid black;
  border-radius: 0 !important;
}


.footer-links {
  border-bottom: 1px solid black;

}

#footer-logo {
  height: 80px;
  background-color: #E9D3D3;
}


.text-small {
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}



/* Mailchimp */
#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}

#mc-embedded-subscribe {
  clear: both;
  width: auto;
  display: flex;
  justify-content: center;
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin: 0 !important;
}

#mc_embed_signup #mce-success-response {
  color: #529214;
  display: none;
  position: absolute;
  left: 0;
}

/* -------------------------------------------------------- Media queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */

@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

  }

  .header-container {
    padding-top: 30px;
  }
}

@media (min-width: 320px) {
  #footer-logo {
    width: 300px;
  }
}


/* Small devices */
@media (max-width: 550px) {
  .navbar {
    background-color: #E9D3D3 !important;
    height: min-content !important;
    display: flex;
    height: 100px !important;
    justify-content: flex-start;
  }

  #main-nav {
    background-color: #000;
    color: #fff;
    opacity: .75;
  }

  .nav-item {
    margin-left: 10px;
  }

  .header-container {
    padding-bottom: 20px;
  }

  .mobile-header {
    font-size: .8rem;
    float: left;
  }

  body>header>div.row.bottom-row>nav>div.mobile-header>li:nth-child(3)>a {
    padding-left: 0;
    margin-left: 0;
  }

  #user-options {
    padding-left: 0;
    margin-left: 0;
    padding-right: 0;
  }

  body>header>div.row.bottom-row>nav>div.mobile-header>li.list-inline-item.show>div {
    position: absolute;
    left: 0;
    top: 30px;
  }

  .message-container {
    width: 60%;
    float: right;
  }
}

/* Medium Devices */
@media only screen and (max-width: 992px) and (min-width: 550px) {
  .navbar {
    background-color: #E9D3D3 !important;
    height: 100px !important;
  }

  .header-container {
    padding-bottom: 20px;
  }

  .ul-container {
    background-color: #000;
    color: #fff;
    opacity: .75;
    width: 200px;
    float: left;
  }

  .ul-container>li {
    margin-left: 10px;
  }
}