{% extends "base.html" %}

{% block content %}
<div class="page-header d-flex justify-content-md-center mt-5">
  <h3 class="text-center mt-3 underline"></h3>
</div>
<br>
<div class="line-break"></div>
  <div class="container header-container">
    <div class="overlay"></div>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="allauth-form-inner-content">
          {% block inner_content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
