{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block content %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<div class="page-header d-flex justify-content-md-center mt-5">
    <h3 class="text-center mt-3 underline">Contact</h3>
</div>
<br>
<div class="line-break"></div>
<div class="container">
    <div class="contact-form row d-flex justify-content-md-center mb-3">
        <div class="col-12 col-md-8 d-flex justify-content-md-center">
            <form action="{% url 'contact' %}" method="POST" id="contact-form">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-2 me-3 ms-3 py-3">
                    <legend class="fieldset-label small text-black px-2 w-auto">Contact Form</legend>
                    {{ contact_form.full_name | as_crispy_field }}
                    {{ contact_form.email | as_crispy_field }}
                    {{ contact_form.phone_number | as_crispy_field}}
                    {{ contact_form.subject | as_crispy_field }}
                    {{ contact_form.message_box | as_crispy_field }}
                </fieldset>
                <div class="mb-2 me-2 d-flex justify-content-end">
                    <button type="submit" class="submit btn btn-lg rounded-0 text-uppercase py-2">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}