{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/css/styles.css' %}">
{% endblock %}

{% block content %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
<div class="page-header d-flex justify-content-md-center mt-5 mb-3">
    <h3 class="text-center mt-3 underline ">Shop Styles</h3>
</div>

<div class="line-break"></div>

<div class="container-fluid mb-4">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-7 col-xl-5 color-container p-3">
            {% if request.user.is_superuser %}
                <div class="edit-style-wrapper text-end">
                    <a href="{% url 'delete_style' style.id %}" class="text-small text-danger">Delete</a>
                    <a href="{% url 'edit_style' style.id %}" class="text-small text-success">Edit</a>
                </div>
            {% endif %}
            <div class="about-img-wrapper">
                <h4>{{ style.style_name }}</h4>
                <img class="style-img" src="{{ style.style_image.url }}"
                alt="Image of {{ style.style_name }}">
            </div>
            <div class="row">
                <div class="col-12 pt-2">
                    <p><strong>{{ style.style_description }}</strong></p>
                    <form classs="form" action="{% url 'add_to_bag' style.id %}" method="POST">
                        {% csrf_token %}

                    <input class="form-control qty_input" type="hidden" name="quantity" value="1" min="1"
                        max="1" data-item_id="{{ style.id }}" readonly="true" id="id_qty_{{ style.id }}">

                        <div class="col-12 d-flex justify-content-between align-items-center">
                            <a id="keep" href="{% url 'styles' %}" class="">
                                <span class="icon">
                                    <i class="fas fa-chevron-left keep"></i>
                                </span>
                                <span class="text-uppercase keep">Keep Shopping</span>
                            </a>
                            <input id="add-to" type="submit" class="btn btn-black rounded-0"
                                value="Add to bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}