{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/css/styles.css' %}">
{% endblock %}

{% block content %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
<div class="page-header d-flex justify-content-md-center mt-5 mb-3">
    <h3 class="text-center mt-3 underline">Shop Styles</h3>
</div>

<div class="line-break"></div>
<div class="container-fluid mb-3">
    <div class="row">
        <span class="numb mb-3 text-muted"><strong>Total styles</strong> | {{ styles.count }}</span>
        {% for style in styles %}
        <div class="col-md-4 d-flex justify-content-center">
            <div class="m-4">
                <div class="card h-100 border-1 rounded-0">
                    <div class="card-body">
                        {% if style.style_image %}
                        <a href="{% url 'style_detail' style.id %}">
                            <img class="card-img-top img-thumbnail w-100 border-0 mb-0" src="{{ style.style_image.url }}"
                                alt="{{ style.style_name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'style_detail' style.id %}">
                            <img class="card-img-top img-thumbnail border-0" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ style.style_name }}">
                        </a>
                        {% endif %}
                        <h5 class="mt-0">{{ style.style_name }}</h5>
                        <hr>
                        <strong>
                            <p class="mb-0">$ {{ style.style_price }} $</p>
                        </strong>
                        {% if request.user.is_superuser %}
                            <div class="row d-inline float-end">
                                <a href="{% url 'delete_style' style.id %}" class="text-small text-danger">Delete</a>
                                <a href="{% url 'edit_style' style.id %}" class="text-small text-success">Edit</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>

{% endblock %}