{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/css/styles.css' %}">
{% endblock %}

{% block content %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
<div class="page-header d-flex justify-content-md-center mt-5 mb-3">
    <h3 class="text-center mt-3 underline ">Shop Styles</h3>
</div>

<div class="line-break"></div>
<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                <hr>
                {% if style.style_image %}
                <a href="{{ style.style_image.url }}" target="_blank">
                    <img class="card-img-top img-thumbnail border-0 mb-0" src="{{ style.style_image.url }}"
                        alt="{{ style.style_name }}">
                </a>
                {% else %}
                <a href="#">
                    <img class="card-img-top img-fluid border-0" src="{{ MEDIA_URL }}noimage.png"
                        alt="{{ style.style_name }}">
                </a>
                {% endif %}
                <hr>
                <button class="back-button btn btn-md rounded-0 text-uppercase py-1"><a href="{% url 'styles' %}">Back
                        to styles</a></button>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mt-5 pt-5">
            <h4>{{ style.style_name }}</h4>
            <hr>
            <p><strong>{{ style.style_description }}</strong></p>
            <hr>
            <p><strong>Price: {{ style.style_price }} $</strong></p>
            <form classs="form" action="{% url 'add_to_bag' style.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group w-50">
                            <div class="input-group">
                                <span>
                                    <small class="text-uppercase">Buy </small>
                                    <input type="checkbox" value="add_to" data-item_id="{{ style.id }}"
                                        id="id_qty_{{ style.id }}">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <a href="{% url 'styles' %}" class="btn btn-outline-black rounded-0 mt-5">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                        <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to bag">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}