.about-me-img {
    width: auto;
    max-height: 550px;
}

.about-me-img {
    width: 100%;
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 8px 2px;
}

.line-break {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.about-me-text {
    font-weight: 700;
    font-size: 1rem;
}

.contact-me {
    background-color: #000;
    color: #fff;
    font-size: .75rem;
}
