{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block content %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<div class="page-header d-flex justify-content-md-center mt-5">
    <h3 class="text-center mt-3 underline">Requests</h3>
</div>
<br>
<div class="line-break"></div>
<div class="container">
    <div class="contact-form row d-flex justify-content-md-center mb-3">
        <div class="col-12 col-md-8 d-flex justify-content-md-center">
            
        </div>
    </div>
</div>

{% endblock %}