{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block content %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<div class="page-header d-flex justify-content-md-center">
    <h3 class="text-center mt-3 underline">Requests</h3>
</div>
<br>
<div class="line-break"></div>
<div class="container">
    {% if message_full_name %}
    <div class="row d-flex justify-content-center">
        <div class="col-8 text-center request-message py-3 px-3 mb-3">
            <h2>THANK YOU FOR YOUR ORDER {{ message_full_name }}!</h2>
            <p>I will get back you as soon as possible wih an order confirmation and invoice!
            </p>
            <button class="home-btn btn btn-lg rounded-0 text-uppercase py-2">
                <a href="{% url 'services' %}">Services</a>
            </button>
        </div>
    </div>
    {% else %}
    <div class="contact-form row d-flex justify-content-md-center mb-3">
        <div class="col-12 col-md-7 col-xl-5 d-flex justify-content-center color-container p-sm-4">
            <form action="{% url 'service_request' service.id %}" method="POST" class="color-form w-100" id="service-form">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-2 me-3 ms-3 py-3">
                    <legend class="fieldset-label small text-black">For: {{ service }}</legend>
                    {{ request_form.full_name | as_crispy_field }}
                    {{ request_form.email | as_crispy_field }}
                    {{ request_form.phone_number | as_crispy_field}}
                    {{ request_form.ideas | as_crispy_field }}
                </fieldset>
                <div class="mb-2 me-2 d-flex justify-content-end">
                    <button type="submit" class="submit btn btn-lg rounded-0 text-uppercase py-2">Submit</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}