{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block content %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<div class="page-header d-flex justify-content-md-center mb-3">
    <h3 class="text-center mt-3 underline">Services</h3>
</div>

<div class="line-break"></div>

<div class="container-fluid mb-3">
    <div class="row">
        {% for service in services %}
        <div class="col-md-6  d-flex justify-content-center">
            <div class="col-sm-12 col-lg-8 mb-2">
                <div class="card service-card h-100 border-1 rounded-0">
                    <div class="card-body">
                        {% if service.service_image %}
                        <a href="">
                            <img class="card-img-top img-thumbnail border-0 mb-0" src="{{ service.service_image.url }}"
                                alt="{{ service.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid border-0" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ service.name }}">
                        </a>
                        {% endif %}
                    </div>
                    <div class="row card-body pt-0">
                        <h4 class="mt-0 text-center">{{ service.name }}</h4>
                        <hr>
                        <div class="col-6">
                            <p>{{ service.description }}</p>
                            <ul>
                                <li>
                                    <strong>
                                        <p class="mb-0">Pricing: {{ service.price }} $</p>
                                    </strong>
                                    <p><small>{{ service.pricing_description }}</small></p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 d-flex justify-content-center align-items-center">
                            <a href="{% url 'service_request' service.id %}">
                                <button class="btn btn-black rounded-0 p-2">
                                    Contact
                                </button>
                            </a>
                        </div>
                        {% if request.user.is_superuser %}
                        <div class="row d-inline">
                            <a href="{% url 'delete_service' service.id %}" class="text-small text-danger">Delete</a>
                            <a href="{% url 'edit_service' service.id %}" class="text-small text-success">Edit</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="row justify-content-center mb-5">
    {% for testamonial in testamonials %}
    <div class="col-4 d-flex">
        <div class="col-12">
            <div class="card card-round">
                <div class="col-12 d-flex">
                    <div class="col-6 ms-3 mt-3 mb-1 me-0">
                        <img src="{{ testamonial.testamonial_image.url }}" class="img-fluid" />
                    </div>
                    <div class="col-4 mt-3">
                        <h6 class="card-title me-2 ms-0 mb-0">{{ testamonial.persons_name }}</h6>
                        <h6 class="card-title">{{ testamonial.persons_work }}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="card-text ms-2 mb-2 me-2">
                            <span class="quote">"</span>
                            <small>{{ testamonial.testamonial_review }}</small>
                            <span class="quote">"</span>
                        </p>
                        {% if testamonial.testamonial_rating %}
                        <p class="text-center">{{ testamonial.testamonial_rating }} <i class="far fa-thumbs-up"></i></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>


{% endblock %}