{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block content %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<div class="page-header d-flex justify-content-md-center mb-3">
    <h3 class="text-center mt-3 underline">Services</h3>
</div>

<div class="line-break mb-0 mt-4"></div>

<div class="container-fluid mb-3 p-0">
    <div class="carousel-wrapper">
        <div id="serviceCarousel" class="carousel slide position-relaitve" data-bs-ride="carousel" data-bs-interval="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#serviceCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" id="buttonOne"></button>
                <button type="button" data-bs-target="#serviceCarousel" data-bs-slide-to="1" aria-label="Slide 2" id="buttonTwo"></button>
                <button type="button" data-bs-target="#serviceCarousel" data-bs-slide-to="2" aria-label="Slide 3" id="buttonThree"></button>
                <button type="button" data-bs-target="#serviceCarousel" data-bs-slide-to="3" aria-label="Slide 4" id="buttonFour"></button>
            </div>
            <div class="carousel-inner">
                {% for service in services %}
                    <div class="carousel-item {% if forloop.counter == 4 %} active {% endif %}" id="{{ service.id }}">
                        <div class="row">
                            <div class="service-img-wrapper col-12 col-md-6">
                                {% if service.service_image %}
                                    <img src="{{ service.service_image.url }}" class="service-image" alt="{{ service.name }}">
                                    {% else %}
                                    <img src="{{ MEDIA_URL }}noimage.png" class="service-image" alt="{{ service.name }}">
                                {% endif %}
                            </div>
                            <div class="service-text-wrapper d-flex justify-content-end col-12 col-md-6 px-3 py-3">
                                <h3 id="name-{{ service.id }}">{{ service.name }}</h3>
                                <p class="service-description">{{ service.description }}</p>
                                <p class="mb-0">Price: <strong>{{ service.price }} $</strong></p>
                                <p>{{ service.pricing_description }}</p>
                                <div class="contact-btn-wrapper text-end">
                                    <a href="{% url 'service_request' service.id %}" class="service-contact-button">
                                        <button class="btn btn-black rounded-0">
                                            Contact
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="row d-flex justify-content-center">
        <h4 class="text-center">What others say</h4>
        <div class="col-12 col-md-8 col-lg-6 px-3">
            <div class="testimonial-wrapper">
                <div class="border-testimonial-wrapper p-3">
                    {% for review in testamonials%}
                    <div class="review-wrapper hidden" id="review-{{ review.id }}">
                        <h5 class="mb-0">{{ review.persons_name }}</h5>
                        <p>{{ review.persons_work }}</p>
                        <p class="text-center review"><span class="quotes">"</span>{{review.testamonial_review}}<span class="quotes">"</span></p>
                        {% if review.testamonial_rating %}
                        <p class="text-end">{{ review.testamonial_rating }}</p>
                        {% endif %} 
                    </div>
                    {% endfor %}
                    <div class="testimonial-image-wrapper d-flex justify-content-evenly">
                        {% for testamonial in testamonials %}
                        <img src="{{ testamonial.testamonial_image.url }}" id="image-{{ testamonial.id }}" class="testimonial-image" alt="Profile image of {{ testamonial.persons_name }}">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Assign service name to carousel buttons
    $('#buttonOne').text($('#name-1').text())
    $('#buttonTwo').text($('#name-2').text())
    $('#buttonThree').text($('#name-3').text())
    $('#buttonFour').text($('#name-4').text())



    $('#review-1').removeClass('hidden')
     
    $('.testimonial-image').click(function (e) {
        if (e.target.id == 'image-1') {
            setTimeout(() => {
                $('#review-1').slideToggle('hiden')
            }, 150)
            $('#review-2').fadeOut(100)
            $('#review-3').fadeOut(100)
            $('#review-4').fadeOut(100)
        } else if (e.target.id == 'image-2') {
            setTimeout(() => {
                $('#review-2').slideToggle('hiden')
            }, 150)
            $('#review-1').fadeOut(100)
            $('#review-3').fadeOut(100)
            $('#review-4').fadeOut(100)
        } else if (e.target.id == 'image-3') {
            setTimeout(() => {
                $('#review-3').slideToggle('hiden')
            }, 150)
            $('#review-1').fadeOut(100)
            $('#review-2').fadeOut(100)
            $('#review-4').fadeOut(100)
        } else {
            setTimeout(() => {
                $('#review-4').slideToggle('hiden')
            }, 150)
            $('#review-1').fadeOut(100)
            $('#review-2').fadeOut(100)
            $('#review-3').fadeOut(100)

        }
    })
</script>
{% endblock %}